#include <stdio.h>
#include <time.h>

int main(){

    int hour = 0, day = 0, min = 0;
    int sleep1 = 1;
    
    for (int i = 0; i <=60; i++)
    {
        printf("Dias: %d\n", day);
        printf("Horas: %d\n", hour);
        printf("Minutos: %d\n", min);
        printf("Segundos: %d\n", i);

        sleep(sleep1);
        system("cls");

        if(i == 59){
            min+=1;
        }

        if(min == 60){
            hour+=1;
        }

        if(hour == 24){
            day+=1;
        }

        if(i>=59){
            i = 0;
        }
    }
}
